<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple go web templating with functions for demo</title>
</head>
<body>
<h3>Initial Value</h3>
{{.}}

{{. | fdbl}}

{{. | fdbl | fsq}}

{{. | fdbl | fsq | fsqrt}}

Good example indeed
</body>
</html>
