<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple go web templating with functions for demo</title>
</head>
<body>
Initial Value
{{.}}

{{. | fdbl}}

{{. | fdbl | fsq}}

{{. | fdbl | fsq | fsqrt}}

</body>
</html>
